.col-md-6
  .well#profileSettingsWell
    #profileSettingsAlert.alert.alert-success.hidden(role='alert')
      span#profileSettingsAlertMessage Profile updated.
    form
      fieldset
        legend Profile

        .form-group.label-floating#profileSettingsFormGroupUsername
          label.control-label(for='profileSettingsInputUsername') Username
          input#profileSettingsInputUsername.form-control(type='text')
          span#profileSettingsHelpBlockUsername.help-block.hidden This username is already taken.
        .form-group.label-floating#profileSettingsFormGroupBio
          label.control-label(for='profileSettingsTextareaBio') Bio
          textarea#profileSettingsTextareaBio.form-control(rows='3')
          span#profileSettingsHelpBlockBio.help-block.hidden Your bio may only be 300 characters long.

        legend Social
        .help-block Link your social media accounts.
        .form-group.label-floating#profileSettingsFormGroupInstagram
          label.control-label(for='profileSettingsInputInstagram') Instagram
          input#profileSettingsInputInstagram.form-control(type='text')
          span#profileSettingsHelpBlockInstagram.help-block Your Instagram username.
        .form-group.label-floating#profileSettingsFormGroupFacebook
          label.control-label(for='profileSettingsInputFacebook') Facebook
          input#profileSettingsInputFacebook.form-control
          span#profileSettingsHelpBlockFacebook.help-block Your Facebook profile link.
        .form-group.label-floating#profileSettingsFormGroupTwitter
          label.control-label(for='profileSettingsInput') Twitter
          input#profileSettingsInputTwitter.form-control
          span#profileSettingsHelpBlockTwitter.help-block Your Twitter username.

      legend Privacy
      .form-group
        .checkbox
          label
            input#profileSettingsInputPrivateCollection(type='checkbox')
            |  Private Collection
        p.help-block Keep my collection private. Other users won't be able to see it.

        .form-group
          button#profileSettingsButtonUpdateProfile.btn.btn-primary.btn-raised(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Update Profile
.col-md-3
  center
    label Profile Picture
    img#profileSettingsImgProfileImg.img-responsive.img-rounded(src='/img/profile_pic.png')
    center
      #profileSettingsFormGroupProfileImg.form-group
        input#profileSettingsInputFileProfileImg(type='file' accept='image/jpeg, image/png')
        .input-group
          input.form-control(type='text', readonly='', placeholder='Choose a profile picture')
          span#profileSettingsHelpBlockProfileImg.help-block.hidden Please choose a file PNG or JPEG file that is smaller than 5MB.
          span.input-group-btn.input-group-sm
            button.btn.btn-fab.btn-fab-mini(type='button')
              i.material-icons attach_file
      br
      button#profileSettingsButtonUploadPicture.btn.btn-primary(type='button' data-loading-text='Uploading <i class="fa fa-spinner fa-spin"></i>') Upload Picture
