#versionComments.row.hidden
  .col-md-12
    form
      .form-group.label-floating
        label.control-label(for='versionCommentTextarea') Write a comment for this version
        textarea#versionCommentsTextareaComment.form-control(rows='3')
      .form-group
        button#versionCommentsButtonPost.btn.btn-raised.btn-primary(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Post

#versionCommentsCommentsDiv   
