.col-md-3
  a.thumbnail.shellThumbnail(href=`/tamagotchis/${versionId}/${releaseId}/${shellId}` id='shell' + type + shellId data-type + shellId=type + shellId)
    img(src='/img/sampleShell.jpg' id='shellImg' + type + shellId)
