{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "firebase": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
