// TODO implement an acutal footer
footer.footer
  .container-fluid
    a(href='#')
      i.fa.fa-twitter
    a(href='https://github.com/ToxicJojo/TamaCollection')
      i.fa.fa-github
    a(href='/about') About
