nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') TamaCollection
    ul.nav.navbar-nav
      li
        a(href='/tamagotchis') Tamagotchis

    ul.nav.navbar-nav.navbar-right
      li#headerSignIn
        a(href='#' data-toggle='modal' data-target='#modalSignIn') Sign In
      li#headerSignUp
        a(href='#' data-toggle='modal' data-target='#modalSignUp') Sign Up
      li#headerUserInfo.dropdown.hidden
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          span#headerUserName
          | &nbsp;
          img#imgHeaderProfilePicture.img-responsive.header-avatar(src='/img/profile_pic.png')

          span.caret
        ul.dropdown-menu
          li
            a#headerGotoProfile(href='#') Profile
          li
            a(href='/settings') Settings
          li.divider(role='separator')
          li
            a#headerSignOut(href='#')
              | Sign Out &nbsp;
              i.fa.fa-sign-out
