nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') TammaCollection

    ul.nav.navbar-nav.navbar-right
      li
        a(href='#' data-toggle='modal' data-target='#modalSignIn') Sign In
      li
        a(href='#' data-toggle='modal' data-target='#modalSignUp') Sign Up
      li.dropdown.hidden
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
          | Dropdown
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider(role='separator')
          li
            a(href='#') Separated link
