#modalSignUp.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Sign Up
      .modal-body
        form
          #formGroupUsername.form-group
            label.control-label(for='inputUsername') Username
            input#inputUsernameSignUp.form-control(type='text' placeholder='Username')
            span#helpBlockUsername.help-block.hidden This username is already taken
          #formGroupEmail.form-group
            label.control-label(for='inputEmail') Email address
            input#inputEmailSignUp.form-control(type='email' placeholder='Email')
            span#helpBlockEmail.help-block.hidden A valid Email address is required.
          #formGroupPassword.form-group
            label.control-label(for='inputPassword') Password
            input#inputPasswordSignUp.form-control(type='password' placeholder='Password')
            span#helpBlockPassword.help-block.hidden The password needs to be at least 6 characters long.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        |
        button#buttonSignUp.btn.btn-primary(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Sign Up
