extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-3
        .panel.panel-primary
          .panel-heading
            h3.panel-title Version
          .panel-body
            select#versionSelect.form-control
              
            #emptyReleases.hidden
              center
                img.img-responsive(src='/img/emptyStates/sadTama.png')
                p.text-muted
                  strong There are no releases for this version yet.
            ul#releaseNav.nav.nav-pills(role='tablist')
            #releaseContent.tab-content
            
            #emptyShells.hidden
              center
                img.img-responsive(src='/img/emptyStates/sadTama2.png')
                p.text-muted
                  strong There are no shells for this release yet.


      .col-md-6
        include ../components/tamagotchiInfo
                        
        include ../components/versionComments.pug
      .col-md-3
        include ../components/shellImages.pug


block append scripts
  script(src='/js/templates/versionList.js')
  script(src='/js/templates/releaseTab.js')
  script(src='/js/templates/releaseTabContent.js')
  script(src='/js/templates/shellThumbnail.js')
  script(src='/js/templates/comment.js')
  script(src='/js/tamagotchisUI.js')
