extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-3
        include ../components/profileInfo.pug
      .col-md-9
        include ../components/profileCollection.pug






block append scripts
  script(src='/js/templates/placeHolderShellThumbnail.js')
  script(src='/js/profileUI.js')
