extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Settings
          .panel-body
            ul.nav.nav-pills.nav-stacked
              li.active(role='presentation')
                a(href='#') Profile
              li(role='presentation')
                a(href='#') Account
      #profileTab
        .col-md-6#profileCol
          h2 Profile
          hr
          #updateProfileAlert.alert.alert-success.hidden(role='alert')
            span#updateProfileErrorMessage Profile updated.
          form
            .form-group#formGroupSettingsUsername
              label(for='inputUsernameSettings') Username
              input#inputUsernameSettings.form-control
              span#helpBlockSettingsUsername.help-block.hidden This username is already taken.
            .form-group#formGroupSettingsBio
              label(for='textareaBioSettings') Bio
              textarea#textareaBioSettings.form-control(rows='3')
              span#helpBlockSettingsBio.help-block.hidden Your bio may only be 300 characters long.
            
            br
            h4 Social
            .help-block Link your social media accounts.
            hr
            .form-group#formGroupSettingsInstagram
              label(for='inputUsernameSettings') Instagram
              input#inputInstagramSettings.form-control(placeholder='Your instagram username.')
              span#helpBlockSettingsInstagram.help-block.hidden Please enter a valid Instagram profile.
            .form-group#formGroupSettingsFacebook
              label(for='inputFacebookSettings') Facebook
              input#inputFacebookSettings.form-control(placeholder='Your Facebook profile link.')
              span#helpBlockSettingsFacebook.help-block.hidden Please enter a valid Facebook profile.
            .form-group#formGroupSettingsTwitter
              label(for='inputTwitterSettings') Twitter
              input#inputTwitterSettings.form-control(placeholder='Your twitter username.')
              span#helpBlockSettingsTwitter.help-block.hidden Please enter a valid Twitter profile.
            
            .form-group
              button#buttonUpdateProfile.btn.btn-default(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Update Profile
        .col-md-3
          label Profile Picture
          img#imgProfilePicture.img-responsive(src='/img/profile_pic.png')
          center
            .form-group#formGroupSettingsProfilePicture
              input#inputFileProfilePicture(type='file')
              span#helpBlockSettingsProfilePicture.help-block.hidden Please choose a file first
              br
              button#buttonUploadPicture.btn.btn-default(type='button' data-loading-text='Uploading <i class="fa fa-spinner fa-spin"></i>') Upload Picture
      #accountTab.hidden
        .col-md-9
          h2 Account

block append scripts
  script(src='/js/settingsUI.js')
