extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Settings
          .panel-body
            ul.nav.nav-pills.nav-stacked
              li.active(role='presentation')
                a(href='#') Profile
              li(role='presentation')
                a(href='#') Account
      #profileTab
        include ../components/profileSettings.pug
      #accountTab.hidden
        .col-md-9
          h2 Account

block append scripts
  script(src='/js/settingsUI.js')
