extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-2
        .panel.panel-default
          .panel-heading
            h3.panel-title Version
          .panel-body
            ul#versionNav.nav.nav-pills.nav-stacked


      .col-md-7
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                .row
                  .col-md-5
                    .row
                      .col-md-12
                        .thumbnail
                          img#shellImage(src='/img/sampleShell.jpg')
                    .row
                      #collectionStatus.col-md-12.hidden
                        h4 Collection Status
                        hr
                        form
                          .form-group
                            button#buttonAddToCollected.form-control.btn.btn-success(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>')
                              | Add to Collection &nbsp;
                              i.fa.fa-book

                            button#buttonRemoveFromCollected.form-control.btn.btn-danger.hidden(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>')
                              | Remove from Collection &nbsp;
                              i.fa.fa-cross
                          .form-group
                            button#buttonAddToWanted.form-control.btn.btn-info
                              | Add to Wanted &nbsp;
                              i.fa.fa-bookmark
                            button#buttonRemoveFromWanted.form-control.btn.btn-danger.hidden
                              | Remove from Wanted &nbsp;
                              i.fa.fa-bookmark-o
                          .form-group
                            button#buttonAddToFavorite.form-control.btn.btn-warning
                              | Add to Favorites &nbsp;
                              i.fa.fa-star
                            button#buttonRemoveFromFavorite.form-control.btn.btn-warning.hidden
                              | Remove from Favorites &nbsp;
                              i.fa.fa-star-o

                  .col-md-7
                    #versionInfo
                      h4 Version Info
                      hr
                      dl.dl-horizontal
                        dt Name:
                        dd#versionInfoName Tamagotchi m!x
                        dt Description:
                        dd#versionInfoDescription The Tamagotchi m!x is so named because the focus this time around is on the creation of new character attribute combinations based on the parents. There are four versions: Melody, Spacey, 20th Anniversary, and Sanrio, each with exclusive characters.
                        dt Shorthand:
                        dd#versionInfoShorthand m!x
                    #releaseInfo.hidden
                      h4 Release Info
                      hr
                      dl.dl-horizontal
                        dt Release Name:
                        dd#releaseInfoName Anniversary
                        dt Release Date:
                        dd#releaseInfoDate 20.08.2016
                        dt Price:
                        dd#releaseInfoPrice 4500‎¥
                    #shellInfo.hidden
                      h4 Shell Info
                      hr
                      dl.dl-horizontal
                        dt Color:
                        dd#shellInfoColor Pink
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                | Comments


      .col-md-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Releases
          .panel-body
            ul#releaseNav.nav.nav-tabs(role='tablist')
            #releaseContent.tab-content


block append scripts
  script(src='/js/templates/versionList.js')
  script(src='/js/templates/releaseTab.js')
  script(src='/js/templates/releaseTabContent.js')
  script(src='/js/templates/shellThumbnail.js')
  script(src='/js/tamagotchisUI.js')
