extends ../application.pug

block content
  .container-fluid
    .row
      .col-md-3
        .panel.panel-primary
          .panel-heading
            h3.panel-title Version
          .panel-body
            select#versionSelect.form-control

            ul#releaseNav.nav.nav-pills(role='tablist')
            #releaseContent.tab-content


      .col-md-7
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                .row
                  .col-md-5
                    .row
                      .col-md-12
                        .thumbnail
                          img#shellImage(src='/img/sampleShell.jpg')
                    .row
                      #collectionStatus.col-md-12.hidden
                        h4 Collection Status
                        hr
                        form
                          .form-group
                            button#buttonAddToCollected.btn.btn-block.btn-success.btn-raised(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>')
                              | Add to Collection &nbsp;
                              i.fa.fa-book

                            button#buttonRemoveFromCollected.btn.btn-block.btn-danger.hidden.btn-raised(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>')
                              | Remove from Collection &nbsp;
                              i.fa.fa-cross
                          .form-group
                            button#buttonAddToWanted.btn.btn-block.btn-info.btn-raised
                              | Add to Wanted &nbsp;
                              i.fa.fa-bookmark
                            button#buttonRemoveFromWanted.btn.btn-block.btn-danger.hidden.btn-raised
                              | Remove from Wanted &nbsp;
                              i.fa.fa-bookmark-o
                          .form-group
                            button#buttonAddToFavorite.btn.btn-block.btn-warning.btn-raised
                              | Add to Favorites &nbsp;
                              i.fa.fa-star
                            button#buttonRemoveFromFavorite.btn.btn-block.btn-warning.hidden.btn-raised
                              | Remove from Favorites &nbsp;
                              i.fa.fa-star-o

                  .col-md-7
                    #versionInfo
                      h4 Version Info
                      hr
                      dl.dl-horizontal
                        dt Name:
                        dd#versionInfoName Tamagotchi m!x
                        dt Description:
                        dd#versionInfoDescription The Tamagotchi m!x is so named because the focus this time around is on the creation of new character attribute combinations based on the parents. There are four versions: Melody, Spacey, 20th Anniversary, and Sanrio, each with exclusive characters.
                        dt Shorthand:
                        dd#versionInfoShorthand m!x
                    #releaseInfo.hidden
                      h4 Release Info
                      hr
                      dl.dl-horizontal
                        dt Release Name:
                        dd#releaseInfoName Anniversary
                        dt Release Date:
                        dd#releaseInfoDate 20.08.2016
                        dt Price:
                        dd#releaseInfoPrice 4500‎¥
                    #shellInfo.hidden
                      h4 Shell Info
                      hr
                      dl.dl-horizontal
                        dt Color:
                        dd#shellInfoColor Pink
                        
                
        #commentDiv              
          .row
            .col-md-12
              .well
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='/img/profile_pic.png' width='64px' heigth='64px')
                  .media-body
                    h4.media-heading Username
                    p aliquip consectetur fugiat non proident irure incididunt. Labore ex proident fugiat veniam tempor non non. Et do Lorem do exercitation commodo aliqua magna ex non amet id est laborum laborum anim id. Mollit voluptate minim dolor sit ullamco laborum dolore pariatur consectetur. Sit occaecat cupidatat mollit in adipisicing cupidatat laboris consectetur elit cupidatat ex dolore ad aliquip et Lorem. Elit ipsum aliqua nisi exercitation quis cupidatat enim nulla velit quis. Veniam | ipsum dolore dolor labore commodo reprehenderit in amet laboris culpa consectetur. Dolore do proident laboris dolore elit in non dolor ea qui consectetur.  
        
          .row
            .col-md-12  
              .well
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='/img/profile_pic.png' width='64px' heigth='64px')
                  .media-body
                    h4.media-heading Username
                    p aliquip consectetur fugiat non proident irure incididunt. Labore ex proident fugiat veniam t
          .row
            .col-md-12  
              .well
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='/img/profile_pic.png' width='64px' heigth='64px')
                  .media-body
                    h4.media-heading Username
                    | aliquip consectetur fugiat non proident irure incididunt. Labore ex proident fugiat veniam t
        .row
          .col-md-12
            form
              .form-group.label-floating
                label.control-label(for='versionCommentTextarea') Write a comment for this version
                textarea#versionCommentTextarea.form-control(rows='3')
              .form-group
                button#buttonCommentVersion.btn.btn-raised.btn-primary(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Post



block append scripts
  script(src='/js/templates/versionList.js')
  script(src='/js/templates/releaseTab.js')
  script(src='/js/templates/releaseTabContent.js')
  script(src='/js/templates/shellThumbnail.js')
  script(src='/js/templates/comment.js')
  script(src='/js/tamagotchisUI.js')
