.col-md-3
  a.thumbnail.shellThumbnail(href=`/tamagotchis/${versionId}/${releaseId}/${shellId}` id='shell' + type + shellId data-type + shellId=type + shellId)
    img(src='/img/sampleShell.jpg' id='shellImg' + type + shellId)
    span.label.label-success.thumbnail-label.invisible(id='labelCollected' + type + shellId)
      i.fa.fa-book.fa-lg
    span.label.label-info.thumbnail-label.invisible(id='labelWanted' + type + shellId)
      i.fa.fa-bookmark.fa-lg
    span.label.label-warning.thumbnail-label.invisible(id='labelFavorite' + type + shellId)
      i.fa.fa-star.fa-lg
