extends ../../application

block content

  .container-fluid
    .row
      .col-md-3

      .col-md-6
        #editReleasePanel.panel.panel-default
          .panel-heading
            .row
              .col-md-4
                select.form-control#selectVersion
              .col-md-2
                button#buttonAddRelease.btn.btn-success(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Add Release
              .col-md-4
                select.form-control#selectRelease
              .col-md-1
                button#buttonDeleteRelease.btn.btn-danger(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Delete Release
          .panel-body
            form
              .form-group
                label(for='inputReleaseName') Release Name:
                input#inputReleaseName.form-control(type='text')
              .form-group
                label(for='inputReleaseDate') Date:
                input#inputReleaseDate.form-control(type='text')
              .form-group
                label(for='inputReleasePrice') Price:
                input#inputReleasePrice.form-control(type='text')
              button#buttonUpdateRelease.btn.btn-primary(type='button' data-loading-text='<i class="fa fa-spinner fa-spin"></i>') Update Release

block append scripts
  script(src='/js/manageReleasesUI.js')
